<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OpalApiTests" parallel="false">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    
    <test name="API">
        <packages>
            <package name="com.example.projects.poc.rest"/>
            <package name="com.example.projects.poc.grpc"/>
            <package name="com.example.projects.poc.integration"/>
            <package name="com.example.projects.connectivity"/>
            <package name="com.example.projects.instruments"/>
        </packages>
    </test>
</suite>
